<div th:fragment="secondHeader" >
<nav class="py-2" style="background-color:black">
	<div class="container d-flex flex-wrap">
		<ul class="nav me-auto">
			<a href="/" class="d-flex align-items-center mb-3 mb-lg-0 mt-3 mt-lg-0 me-lg-auto text-dark text-decoration-none">
			<span class="fs-4" style="font-family: 'Press Start 2P', cursive; background: linear-gradient(to bottom, #f2be79 10%, #b06dd1 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;">&nbsp;SMG GAMING</span>
		</a>
		</ul>
		<ul class="nav">
			<li class="nav-item"><a href="/account/login" class="nav-link link-light px-2">Login</a></li>
			<li class="nav-item"><a href="/account/register" class="nav-link link-light px-2">Sign up</a></li>
		</ul>
	</div>
</nav >
<header class="py-3 mb-4">
	
</header>
</div>

<!-- Body and HTML tag continues on other pages -->