<html layout:decorate="layouts/defaults/loggedinlayout">

<main layout:fragment="content">
	<section class="py-5 text-center container"
		style="background-image: url('/img/SMGlogo1.jpg'); background-size: cover; background-position: center;">
		<div class="row py-lg-5">
			<div class="col-lg-6 col-md-8 mx-auto">
				<h1 class="text-light" style="font-family: 'Press Start 2P', cursive; margin-bottom:2in; 	-webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;">Welcome Gamers!</h1>
			</div>
		</div>
	</section>
	<div class="album py-5">
		<div class="container">

			<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-3">
				<div class="col">
					<div class="card shadow-sm text-center">
						<img src="/img/nintendo.png" style="object-fit: contain; height:12rem; width:100%;" class="card-img-top" alt="Nintendo Logo">
						<div class="card-body">
							<h5 class="card-title">Nintendo</h5>
							<p class="card-text">Games starting at $25</p>
							<a href="/products/nintendo" class="btn btn-outline-info">View Products</a>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card shadow-sm text-center">
						<img src="/img/sega.png" style="object-fit: contain; height:12rem; width:100%;" class="card-img-top" alt="Sega Logo">
						<div class="card-body">
							<h5 class="card-title">Sega</h5>
							<p class="card-text">Games starting at $25</p>
							<a href="/products/sega" class="btn btn-outline-info">View Products</a>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card shadow-sm text-center">
						<img src="/img/playstation.png" style="object-fit: contain; height:12rem; width:100%;" class="card-img-top" alt="PlayStation Logo">
						<div class="card-body">
							<h5 class="card-title">PlayStation</h5>
							<p class="card-text">Games starting at $25</p>
							<a href="/products/playstation" class="btn btn-outline-info">View Products</a>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card shadow-sm text-center">
						<img src="/img/xbox.png" style="object-fit: contain; height:12rem; width:100%;"class="card-img-top" alt="Xbox Logo">
						<div class="card-body">
							<h5 class="card-title">Xbox</h5>
							<p class="card-text">Games starting at $25</p>
							<a href="/products/xbox" class="btn btn-outline-info">View Products</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

</html>