<div th:fragment="footer" class="container mt-auto">
	<footer class="row row-cols-1 row-cols-lg-4 g-3 pb-5 text-light text-center mt-5">
		<div class="col text-center">
			<a href="/localowner/admin/adminLogin"
				class="link-dark text-decoration-none">
				<small class="text-light text-center"> <i class="bi bi-joystick" style="font-size: 1in;"><br></i> SMG GAMING .INC ©
					2022</small >
			</a>
		</div>

		<div class="col">
			<h5 class="fw-bold">Discover</h5>
			<ul class="nav flex-column">
				<li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-light">Home</a></li>
				<li class="nav-item mb-2"><a href="/products/all" class="nav-link p-0 text-light">Browse</a></li>
				<li class="nav-item mb-2"><a href="/faq" class="nav-link p-0 text-light">FAQs</a></li>
				<li class="nav-item mb-2"><a href="/about" class="nav-link p-0 text-light">About</a></li>
			</ul>
		</div>

		<div class="col">
			<h5 class="fw-bold">Contact Us</h5>
			<ul class="nav flex-column">
				<li class="nav-item mb-2 text-light"><i class="bi bi-telephone-fill"></i> 1(800)900-1000</li>
				<li class="nav-item mb-2 text-light"><i class="bi bi-envelope-fill"></i> support@smggaming.com</li>
				<li class="nav-item mb-2 text-light"><i class="bi bi-geo-alt-fill"></i> 123 Anywhere Road, Anytown, AA
					98765 </li>
				<li class="nav-item mb-2 text-light"> </a></li>
				<li class="nav-item mb-2 text-light"> </a></li>
			</ul>
		</div>

		<div class="col">
			<h5 class="fw-bold">Sign Up for Updates</h5>
			<form class="col-12 col-lg-auto mb-3 mb-lg-0 mt-3 mt-lg-0">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Email">
					<button class="btn btn-outline-warning" type="button" id="button-addon2">Sign up</button>
				</div>
			</form>
		</div>
	</footer>
</div>