<html layout:decorate="layouts/defaults/defaultLayout">

<main layout:fragment="content" class="bg-light">

<div class="container text-center py-5 px-5">
<h1 style="font-size:1.5in; font-family: 'Press Start 2P', cursive; background: linear-gradient(to bottom, #f2be79 10%, #b06dd1 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;">404</h1>
  <h2 class="my-5" style="font-size:1in; font-family: 'Press Start 2P', cursive;">GAME OVER!</h2>
  <h4 class="my-5" style="font-family: 'Press Start 2P', cursive;">Someone pulled the plug on this page! Plug in another page!</h4>
</div>

</div>
</main>
</html>